.burger_constructor {
	display: flex;
	flex-direction: column;
	width: 600px;
	padding-bottom: 20px;
	color: var(--text-primary-color);
}

.container_ingredients {
	composes: custom_scroll from '../app/app.module.css';
	max-height: 45%;
	padding: 0;
	overflow-y: auto;
	list-style: none;
}

.container_ingredients > :first-child {
	margin-top: 0;
}

.burger {
	height: 100%;
	padding: 0;
}

.ingredient {
	background: var(--background);
}

.listItem {
	display: flex;
	align-items: center;
}

.emptyElement {
	display: flex;
	align-items: center;
	text-align: center;
	background: var(--background);
}

.emptyElementText {
	flex: 1;
}
