.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: var(--text-primary-color);
	background-color: var(--background-alt);
}

.main {
    /* flex-grow: 1; */
    margin: 0 auto;
    width: var(--width-outer);
	height: 90%;
}

/* .title {
	align-self: center;
	width: 100%;
	max-width: 1260px;
}

.status {
	align-self: center;
	width: 100%;
	max-width: 1260px;
	text-align: center;
}

.main {
	display: flex;
	justify-content: space-between;
	width: 1240px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
} */

/* Для поддержки браузеров на движке Chrome */

.custom_scroll::-webkit-scrollbar {
	width: 8px;
}

.custom_scroll::-webkit-scrollbar-track {
	background: #2f2f37;
}

.custom_scroll::-webkit-scrollbar-thumb {
	background: #8585ad;
}

.custom_scroll::-webkit-scrollbar-thumb:hover {
	background: #555555;
}

/* Для поддержики FireFox */

.custom_scroll::-moz-scrollbar {
	width: 8px;
}

.custom_scroll::-moz-scrollbar-track {
	background: #2f2f37;
}

.custom_scroll::-moz-scrollbar-thumb {
	background: #8585ad;
}

.custom_scroll::-moz-scrollbar-thumb:hover {
	background: #555555;
}

.titleModalIngDetails {
	margin-top: 40px;
	margin-inline: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contentModalIngDetails {
	display: flex;
	flex-direction: column;
	flex: 1 1 200px;
	align-items: center;
	margin-bottom: 60px;
}

.titleModalOrdersDetails {
	margin-top: 40px;
	margin-inline: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contentModalOrdersDetails {
	display: flex;
	flex-direction: column;
	flex: 1 1 200px;
	align-items: center;
	padding:24px
}