.detail {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}

.image {
	display: block;
	width: 480px;
	height: 240px;
}

.parameterItem {
	text-align: center;
}

.name {
	text-align: center;
}

.titleModalIngDetails {
	margin-top: 40px;
	margin-inline: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contentModalIngDetails {
	display: flex;
	flex-direction: column;
	flex: 1 1 200px;
	align-items: center;
	margin-bottom: 60px;
}
